@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Zen Dots', cursive;
}


/* header */
header{
    width: 100%;
    height: 100px;
    line-height: 100px;
    position: relative;
    font-size: 15px;
    background-color: #255EE9;
}
/* logo */
svg{
    vertical-align: middle;
}
#logo{
    padding-left: 200px;
    vertical-align: middle;
    display: inline-block;
    
}
/* lista */
nav{
   vertical-align: middle;
   display: inline-block;
   padding-left: 100px;
}
li{
    vertical-align: middle;
     list-style: none;
    float: left;
    vertical-align: middle;
    color: white;
    padding-left: 40px;
}
a{
    color: white;
    text-decoration: none;
}
/* input */
.input{
    
    vertical-align: middle;
    display: inline-block;
    background-color: white;
    color: black;
    border: 0;
    border-radius: 30px;
    width:70px;
    height: 35px;
    margin-left: 100px;
    padding-left: 15px;
    line-height: 35px;
    font-size: 10px;
    cursor: pointer;
}
/* jumbotron */
#jumbotron{
    min-height: 500px;
    background-image: url(/img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#jumbotron h1, #jumbotron p{
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    padding: 20px;
}
.jumbotrontesto{
    padding-top: 100px;
}
/* input jumbotron */
.inputbrowser{
    text-align: center;
}
.inputjumbotron {
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
}
.scarica{
    line-height: 50px;
    border: 0;
    color: black;
    background-color: white;
    border-radius: 30px;
    height: 50px;
    width:200px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.apri{
    line-height: 50px;
    border: 0;
    color:white;
    background-color:black;
    border-radius: 30px;
    height: 50px;
    width:300px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
/* fine input jumbotron */

/* inizio prima section */
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.imgstudygroup svg{
    float: left;
    width: 700px;
    height: 600px;
    margin-left: 300px;
}
.textstudygroup {
    float: left;
    width: 400px;
    height: 500px;
    padding-top: 120px;
    padding-left: 100px;
    font-size: 20px;
    line-height: 1.4;
}
h2{
    padding-bottom: 20px;
}
/* fine prima section */

/* seconda section */
 .secondo{
    background-color:#F6F6F6;
}
.imgjustchillin svg{
    float: right;
    width: 700px;
    height: 600px;
    margin-right: 300px;
}
.textjustchillin{
    float: left;
    width: 500px;
    height: 400px;
    padding-top: 120px;
    padding-left: 200px;
    font-size: 20px;
    line-height: 1.4;
}
/* fine secodna section */
/* inizio terza section */
.imgterza svg{
    float: left;
    width: 700px;
    height: 600px;
    margin-left: 300px;
}
.textterza {
    float: left;
    width: 400px;
    height: 500px;
    padding-top: 120px;
    padding-left: 100px;
    font-size: 20px;
    line-height: 1.4;
}



